body{
    background-image: url('https://c8.alamy.com/comp/DN04ND/seamless-math-symbols-vector-background-DN04ND.jpg')
}
#add{
     background-color: aquamarine;
     display: inline-block;
     margin: auto;
     padding: 3px
}

#subtract{
    background-color: darksalmon;
    display: inline-block;
    margin: auto;
    padding: 3px

}

#multiply{
background-color: lavender;
display: inline-block;
margin: auto;
padding: 3px
}

#header{
    border: 4px groove ;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: Avenir;
    font-style: oblique;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    
}

.container{
    display: flex;
    flex-direction: column;
}

.button{
    margin-left: 48%;
}