@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter;
    background-color: #33373E;
    
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
    color: #61DAFB;
}

.navbar > h3{
    margin-right: auto;
}

.navbar > h4 {
    color:#DEEBF8;
    font-weight: 600;
}

.navbar > img{
    margin-right: 7px;
}

.main{
   padding: 55px 27px;
}

.main > h1 {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.facts {
    margin-top: 46px;
    list-style: none;
    
}

.facts > li{
    line-height: 19px;
    padding-block: 10px;
    color: whitesmoke;
    font-weight: 600;

}

.facts > li:before{
    /* Unicode for a bullet */
    content: "\2022";
              
    /* Styles for Indentation*/
    color: #61DAFB;
      
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
